* {box-sizing: border-box;}
.slide {display: none;}
img {vertical-align: middle;}
/* Navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: bisque;
}

li {
    float: right;
}

li a {
    display: block;
    color:black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: gray;
}
/* Navigation bar */

/* Gallery */
.slideshow{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 00;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media only screen and (max-width:300px) {
    .text {font-size: 11px;}
}

/* Gallery */